@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  padding-top: 100px;
  padding-left: 10%;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80");
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
  margin: 0%;
  background-size: cover;
  font-family: "Times New Roman";
}

.container {
  position: relative;
  align-items: center;
  width: 1170px;
  display: flex;
  justify-content: center;
  margin: 10 auto;
}

.card {
  width: 500px;
  color: rgb(8, 8, 8);
  text-align: center;
  border-radius: 100px;
  -webkit-box-shadow: 2px 3px 9px 4px rgba(11, 11, 11, 0.48);
  box-shadow: 2px 3px 9px 4px rgba(11, 11, 10, 0.48);
}

.top {
  background-color: #fff;
  padding-bottom: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.user {
  font-size: 20px;
}

#unit-converter {
  border: none;
  background: none;
  font-size: 24px;
  color: rgb(5, 5, 5);
  margin-bottom: 30px;
}

#unit-converter option {
  margin: 40px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

#main-unit {
  border: none;
  background: none;
  border-bottom: 1px solid rgb(245, 116, 116);
  font-size: 40px;
  width: 160px;
}

#second-unit {
  border: none;
  background: none;
  border-bottom: 1px solid #f54c4a;
  font-size: 40px;
  width: 160px;
}

.main-unit-options {
  border: none;
  background: none;
  font-size: 20px;
}

.main-unit-option {
  background: rgba(0, 0, 0, 0.3);
}

.second-unit-options {
  border: none;
  background: none;
  font-size: 20px;
}

.bottom {
  background-color: #fff;
  padding: 80px 15px;
}